# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Playwright test reports/screenshots/videos
screenshots/
# videos/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Excel reports
# reports/

# Temporary files
*.tmp
*.temp

# IDE/editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
